export(assignExpand)
export(loadMdeaths2R)
export(loadMpops2R)
export(saveRbirths2M)
export(saveRdeaths2M)
export(saveRpops2M)
importFrom(R.matlab,readMat)
importFrom(R.matlab,writeMat)
importFrom(compiler,cmpfun)
